{% extends 'base.html' %}


{% load static %}
{% block content %}
{% if user.is_authenticated %}
    <p class="fw-bold">
        操作步驟<br>
        Step1：建立一個資料夾，放入要顯示的圖片，接著將資料夾壓縮成一個zip檔，
        上傳此zip檔，資料夾名稱會變成相簿名稱。<br>
        Step2：程式能製作縮圖，縮圖用於地圖上，原圖會用於相簿。
        上傳完成後，請先點選「解壓縮」再點選「製作縮圖」。<br>
    </p>
    <form action="{% url 'file:upload' %}" method="POST" enctype="multipart/form-data">
        <input type="text" name="fileTitle" placeholder="多張圖片的zip壓縮檔">
        <input type="file"  name="uploadedFile">
        {% csrf_token %}
        <input type="submit" class="btn btn-success" value="上傳(Upload)">
    </form>
    <table  class="table table-warning">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">檔案名稱</th>
            <th scope="col">上傳時間</th>
            <th scope="col">使用者</th>
            <th scope="col">下載</th>
            <th scope="col">刪除</th>
            <th scope="col">解壓縮</th>
            <th scope="col">製作縮圖</th>
        </tr>
        {% for file in files %}
            <tr>
                <td  scope="row">{{ file.id }}</td>
                <td>{{ file.title }}</td>
                <td>{{ file.dateTimeOfUpload }}</td>
                <td>{{ file.user }}</td>
                <td> <a href="{% url 'file:download' file.id %}">下載</a></td>
                <td> <a href="{% url 'file:delete' file.id %}">删除</a></td>
                <td> <a href="{% url 'file:unzip' file.id %}">解壓縮</a></td>
                <td> <a href="{% url 'file:thumb' file.id %}">製作縮圖</a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}