{% extends "base.html" %}

{% block content %}
  <h3>相簿</h3>
{% if dirp %}
  {% for dir in dirp.object_list %}
  <li  class="list-group-item list-group-item-success h4">
    <a href="{% url 'gal:listdir' dir %}">{{ dir }}</a>
  </li>
  {% endfor %}
  <ul class="pagination">
  {% for page_number in dirp.paginator.page_range %}
    {% if page_number == dirp.number %}
    <li class="page-item active"><a class="page-link">{{ page_number }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% else %}
<p>沒有圖片資料夾</p>
{% endif %}
{% endblock %}